input
{
  padding: 10px 10px;
  width: 148px;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgb(180, 180, 180);
  display: inline-block;
  margin-bottom: 12px;

}

button
{
  display: block;
  color: white;
  background-color: rgb(88, 88, 255);
  font-size:14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
   padding: 10px 150px;
  
}
