p
{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

img
{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.flexbox
{
  display: flex;
  flex-direction: row;
  justify-content: left;

}

.post-part
{
  padding-bottom: 10px;
}

.content-section
{
  padding: 0px 10px;
}

.post-header
{
  display: flex;
}

.link-part
{
  display: flex;
  align-items: center;
  border: none;
  width: 250px;
  border-color: rgba(136, 136, 136, 0.5);
  border-width: 2px;
  border-radius: 25px;
 
  
}

.link-pic
{
  background-color: rgba(136, 136, 136, 0.5);
  width: 130px;
  height: 75px;
  border-radius: 15px 0px 0px 15px
}

.link-text
{
  padding: 15px;
  border: solid;
  border-width: 1.5px;
  border-color: rgba(136, 136, 136, 0.5);
  border-radius: 0px 15px 15px 0px;
}